#new-article {
	$preview-scale: 0.3;
	$padding-top: 60px;
	$divider-color:rgba(0, 0, 0, .2);
	height: 100vh;
	//overflow-y: hidden;

	.options-wrapper {
		width: 100vw;
		height: $padding-top;
		border-bottom: 1px solid $divider-color;
		box-sizing: border-box;
	}

	.editor-wrapper {
		width: 75vw;
		display: inline-block;
		margin: 0 2vw 0 3vw;
		height: calc(100vh - #{$padding-top});
		vertical-align: middle;
		.editor {
			height: 100%;
			outline: none;
			user-select: text;
			white-space: pre-wrap;
			overflow-wrap: break-word;
			overflow-y: auto;
			padding: 6px;

			&:focus {
				outline: none;
			}

			box-sizing: border-box;
		}
	}

	.divider {
		display: inline-block;
		width: 1px;
		background-color: $divider-color;
		height: calc(100vh - #{$padding-top});
		vertical-align: middle;
		box-shadow: -2px 0px 10px rgba(0,0,0,.1);
	}

	.preview-wrapper {
		display: inline-block;
		width: calc(20vw - 3px);
		overflow-y: auto;
		height: calc(100vh - #{$padding-top});
		vertical-align: middle;
		.preview-html {
			width: 100vw;
			height: auto;
			//transform: scale(0.2);
		}
	}
}
