@import "../../styles/lee-ui";
.article-wrapper {
	display: flex;
	flex-direction: column;
	.error-token {

	}

	.article-not-found {

	}
	.article-header  {
		.title {
			margin-top: .5em;
			text-align: center;
		}
		.category-tags {
			text-align: center;
			.category {

			}

			.tags {

			}
		}
	}
	:global(.content) {
		width: 90%;
		margin: 0 5%;
	}
}
