.text-indent-tag {
	opacity: 0;
	color: transparent;
}

.background-strong {
	background-color: rgba(0, 0, 0, .213);
	padding: 0 4px;
	border-radius: 2px;
}

.italic {
	font-style: oblique;
	padding: 0 2px 0 0;
}

.bold {
	font-weight: bold;
}

.bold-italic {
	font-weight: bold;
	font-style: oblique;
	padding: 0 2px;
}

.image-wrapper {
	text-align: center;
	margin: 1em 0;

	.image {
		max-width: 100%;
	}

	.image-text-wrapper {

	}
}

.deleted-text {
	text-decoration: line-through;
}

.inline-background-strong {
	display: inline-block;
	border-radius: 4px;
	padding: 0 4px;
	background-color: #dddee3;
}

.list {
	padding-left: 2em;

	&.list-level-1 {
		padding-left: 0;
	}

	.list-item {
		.list-item-text-line-wrapper {
			padding-left: 2em;

			&.title {
				padding-left: 0;
			}
		}
	}
}

.auto-order-list {
	list-style-type: none;
	padding-left: 2em;

	.auto-order-list-item {
		margin: .35em 0;

		.auto-order-list-item-level-index {
			/*width: 50px;*/
			/*text-align: left;*/
			/*display: inline-block;*/
			padding-right: .6em;
		}
	}
}

.block-quote {
	margin: 20px 0 0;
	padding: 16px;
	color: rgba(52, 73, 94, 0.8);
	font-size: 14px;
	background-color: #e0ffff;
	border-left: 5px solid #afeeee;
	border-radius: 0;
}

.table-block {
	border-bottom: 1px solid #f0f0f0;

	.table-block-thead-tr {
		border-top: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;
		background-color: #fafafa;
		.table-block-thead-th {
			padding: 0.5rem 1rem;
			border-left: 1px solid #f0f0f0;
		}
	}

	.table-block-tbody-tr {
		border-top: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;
		&:nth-child(even){
			background-color: #fafafa;
		}
		&:hover, &:focus{
			.table-block-tbody-td {
				background-color: #fafafa;
			}
		}
		.table-block-tbody-td {
			padding: 0.5rem 1rem;
			border-left: 1px solid #f0f0f0;
		}
	}
}
