@import "../../styles/lee-ui";
.home-wrapper {
	width: 90%;
	margin: 0 5%;
	display: flex;
	min-height: calc(100vh - 106px);
	.article-list {
		flex: 3;
	}
	.recent-article-list {
		flex:1;
		margin-left: 50px;
		padding-top: calc(25px + ( 0.83 * 1.5em ) + 0.4em);
	}
	.recent-article {

	}
}
