.new-article {
	$preview-scale: 0.3;
	$padding-top: 60px;
	$divider-color:rgba(0, 0, 0, .2);
	height: 100vh;
	//overflow-y: hidden;

	.options-wrapper {
		width: 100vw;
		height: $padding-top;
		border-bottom: 1px solid $divider-color;
		box-sizing: border-box;
		.file-list {
			width: 60%;
			display: inline-block;
		}
	}

	.editor-wrapper {
		width: 75vw;
		display: inline-block;
		height: calc(100vh - #{$padding-top});
		vertical-align: middle;
		position: relative;
		.editor {
			height: 100%;
			padding: 0 2.5vw 0 2.5vw;
			outline: none;
			user-select: text;
			white-space: pre-wrap;
			overflow-wrap: break-word;
			overflow-y: auto;

			&:focus {
				outline: none;
			}

			box-sizing: border-box;
		}
		.preview-result {
			position: absolute;
			box-sizing: border-box;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			overflow-y: auto;
			padding: 0 2vw 0 2vw;
		}
	}

	.divider {
		display: inline-block;
		width: 1px;
		background-color: $divider-color;
		height: calc(100vh - #{$padding-top});
		vertical-align: middle;
		box-shadow: -2px 0px 10px rgba(0,0,0,.1);
	}

	.preview-wrapper {
		display: inline-block;
		width: calc(20vw - 3px);
		overflow-x: hidden;
		overflow-y: auto;
		height: calc(100vh - #{$padding-top});
		vertical-align: middle;
		position: relative;
		.preview-html {
			width: 100vw;
			height: auto;
			transform: scale(0.2);
			transform-origin: 0 0;
			position: absolute;
			top: 0;
			z-index: 1;
		}
		.preview-options-area {
			position: relative;
			width: 100%;
			height: 100%;
			cursor: zoom-in;
			z-index: 2;
			top: 0;
		}
	}
}
